body {
  padding-top: 50px;
  background-image: url(../images/bk.jpg);
  background-size: 100%;
}
.em-text {
  color: #a81043 !important;
}
.jumbotron{
  background: url(../images/bk.jpg) no-repeat fixed;
  background-size: 100%;
}

.image{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 150px;
    height: 250px;
 

  }
  .name{
    text-align: center;
    font-family:'Times New Roman';
    font-weight: bolder;
    font-size: larger;
    text-align:center;
    padding:5px;
    background:#333;
    color:#fff;
  }
  .game{
    border: 10px;
  }
  .price{
    font-family:'Times New Roman';
    font-weight: bolder;
    font-size: larger;
    text-align:center;
    padding:5px;
    background:#fff;
    color:#333;
  }
  .game-add{
    margin:5px auto 20px auto;
    width:100%;
    text-align:center;
  }
  footer{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

#main_pg{
  text-align: center;
  width:300px;
  margin:0 auto;
  background: rgba(255, 237, 237, 0.966);
  padding: 5px;
}
.modal_content{
  text-align:left;
  width: 300px;
  text-align:left;
}
.user-img img {
	height: 50px;
	width: 50px;
}
.user-img {
	margin-top: -60px;
	margin-bottom: 45px;
}

.form{
  text-align:center;
  opacity: .8;
  width:300px;
  margin:0 auto;
}
.form-control{
  text-align:left;
  width:300px;
  margin:0 auto;
  padding:5px;
}
#log_btn{
  text-align:center;
  margin-top:10px;
  background-color:rgba(145, 13, 24, 0.842); ;
  padding:5px;
  color : #ffffff;
  width: 100%;
  text-align:center;
  font-size: 18px;
  opacity: .8;
}

	
#register_btn{
	text-align:center;
	margin-top:10px;
	background-color:#3498db;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	}
	#signup_btn{
	text-align:center;
	margin-top:10px;
	background-color:#3498db;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	}
	#back_btn{
	text-align:center;
	margin-top:10px;
	background-color:#e67e22;
	padding:5px;
	color:white;
	width:50%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	}
	.main-page {
	padding-top: 50px;
	background-image: url(../images/background4.jpg);
	background-size: 100%;
	}
	#admin{
	align-items: center;
	text-align: center;
	margin-top: 10px;
	background-color:#a55eea;
	padding:5px;
	color:black;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold; 
	border-radius:2px solid #34495e;
	}
	#user{
	align-items: center;
	text-align: center;
	margin-top: 10px;
	background-color:#a55eea;
	padding:5px;
	color:black;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold; 
	border-radius:2px solid #34495e;
	}
	.form_signup{
	text-align:center;
	width:450px;
	margin:0 auto;
	border-style: solid;
	background-color: white;
	}
	.login_emo1{
	text-align:center;
	width: 150px;
	text-align:center;
	}
	.inputvalues1{
	text-align:center;
	width:230px;
	margin:0 auto;
	padding:5px;
	}
	#submit_signup{
	text-align:center;
	margin-top:10px;
	background-color:#4cd137;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	}
